@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Manrope', sans-serif;
    src: url(../public/fonts/Manrope.ttf);
  }
  @font-face {
    font-family: 'Quicksand';
    src: url(../public/fonts/Quicksand.ttf);
  }
  @font-face {
    font-family: 'Ubuntu-Regular';
    src: url(../public/fonts/Ubuntu-Regular.ttf);
  }
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

h1, h2 {
  font-family: 'Ubuntu-Regular';
}

/* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */

html, body, #root {
  min-width: 100%;
}

.shadowed {
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.dual-bg {
  background: rgb(210,84,74);
  background: linear-gradient(315deg, rgba(210,84,74,1) 1%, rgba(111,129,151,1) 53%, rgba(28,55,91,1) 98%);
}